<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		<h2 class="text-white">Inventario</h2>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			</li>
			<li class="nav-item">
			</li>
		</ul>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Ver Reportes
					<span class="sr-only">(current)</span>
				</a>
			</li>
		</ul>
		<div class="my-2 my-lg-0">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</div>
	</div>
</nav>